$background-gray: #F2F1F2;

// Set the font-size for easy calc with rem units (1rem == 10px, 2rem == 20px, ...)
html { font-size: 10px; }

body {
  font-family: Helvetica;
}

p { margin: 0; }

.header {
  color: red;
}

.main {
    background: $background-gray;
}
