$background-gray: #F2F1F2;


// Set the font-size for easy calc with rem units (1rem == 10px, 2rem == 20px, ...)
html { font-size: 10px; }

body {
  font-family: Helvetica;
}


h1, h2, h3, h4, h5, p {
    margin: 0;
}

.loading {
    position: absolute;
    top: 20vh;
    width: 100%;
    text-align: center;
}

.main {
    background: $background-gray;
    min-height: 100rem;
}
