.contacts-grid {
    padding: 10rem 0;

    .contact-card {
        position: relative;
        padding: 2rem;
        height: 33rem;
        background: #fff;
        border: solid 1px darken($background-gray, 5%);
        margin-bottom: 1rem;

        .profile-image {
            margin: 0 auto;
            overflow: hidden;
            height: 20rem;
            text-align: center;
            img { height: 100%; }
        }

        .profile-icon {
            position: absolute;
            left: 4.5rem;
            top: 19.5rem;
            height: 5rem;
            img { height: 100%; }
        }

        .profile-description {
            margin-top: 3rem;
            p.name {
                font-size: 1.8rem;
            }

            p.job-company {
                font-size: 1.2rem;
            }
        }

    }
}
