html {
  font-size: 10px; }

body {
  font-family: Helvetica; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

.loading {
  position: absolute;
  top: 30vh;
  width: 100%;
  height: 10rem;
  text-align: center; }
  .loading img.logo {
    height: 100%;
    margin-bottom: 2rem; }

.main {
  background: #F2F1F2;
  min-height: 100rem; }

.header {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.contacts-grid {
  padding: 8rem 0; }
  .contacts-grid > div {
    padding-left: 5px;
    padding-right: 5px; }
    .contacts-grid > div.ng-enter, .contacts-grid > div.ng-leave {
      transition: 0.25s ease-out all; }
    .contacts-grid > div.ng-enter, .contacts-grid > div.ng-leave.ng-leave-active {
      transform: scale3d(0.75, 0.75, 0);
      opacity: 0; }
    .contacts-grid > div.ng-leave, .contacts-grid > div.ng-enter.ng-enter-active {
      transform: scale3d(1, 1, 1);
      opacity: 1; }
  .contacts-grid .contact-card {
    position: relative;
    width: 100%;
    height: 30rem;
    background: #fff;
    border: solid 1px #e6e4e6;
    margin-bottom: 1.5rem;
    overflow: hidden; }
    .contacts-grid .contact-card:hover .profile-description {
      top: 14rem; }
    .contacts-grid .contact-card .profile-image {
      margin: 0 auto;
      overflow: hidden;
      padding: 2rem;
      width: 100%;
      text-align: center; }
      .contacts-grid .contact-card .profile-image img {
        width: 100%; }
    .contacts-grid .contact-card .profile-description {
      position: absolute;
      background: #fff;
      top: 20rem;
      height: 20rem;
      width: 100%;
      margin: 0 auto;
      padding: 4rem 2rem 0;
      transition: 0.3s top ease-out; }
      .contacts-grid .contact-card .profile-description .profile-icon {
        position: absolute;
        left: 3rem;
        top: -3rem;
        width: 6rem; }
        .contacts-grid .contact-card .profile-description .profile-icon img {
          width: 100%; }
      .contacts-grid .contact-card .profile-description p.name,
      .contacts-grid .contact-card .profile-description p.job-company,
      .contacts-grid .contact-card .profile-description p.email,
      .contacts-grid .contact-card .profile-description p.phone {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .contacts-grid .contact-card .profile-description p.job-company,
      .contacts-grid .contact-card .profile-description p.email,
      .contacts-grid .contact-card .profile-description p.phone {
        font-size: 1.2rem; }
      .contacts-grid .contact-card .profile-description p.name {
        font-size: 1.8rem; }
      .contacts-grid .contact-card .profile-description p.phone {
        margin-top: 2rem; }

@media (max-width: 992px) {
  .contacts-grid {
    padding: 1rem; }
    .contacts-grid .contact-card {
      height: 10rem;
      margin-bottom: 0.5rem; }
      .contacts-grid .contact-card:hover .profile-description {
        top: 0; }
      .contacts-grid .contact-card .profile-image {
        float: left;
        padding: 1rem;
        max-width: 10rem;
        height: 100%; }
        .contacts-grid .contact-card .profile-image img {
          height: 100%; }
      .contacts-grid .contact-card .profile-description {
        float: left;
        position: relative;
        top: 0;
        height: 100%;
        width: 65%;
        padding: 1rem 0; }
        .contacts-grid .contact-card .profile-description .profile-icon {
          left: -3rem;
          top: auto;
          bottom: 0.8rem;
          width: 2rem; }
        .contacts-grid .contact-card .profile-description p.phone {
          margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
